* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.sobre {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.texto-sobre {
    margin-top: 20px;
}

.formação {
    padding: 50px 0;
    text-align: center;
}

.projetos {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.projetos .projeto {
    margin-bottom: 20px;
}

.contato {
    padding: 50px 0;
    text-align: center;
}

.formulario {
    padding: 50px 0;
}